//RESTAURANT LIST
section.lista-restaurantes
{
    div.not-found
    {
        border:1px #E6E6E6 solid;
        text-align: center;
        padding:10px;
        border-radius: 6px;
        margin:0 8px 8px 8px;
    }

    div.restaurante
    {
        width: 100%;
        height: 72px;
        border-top: 1px #D8D8D8 solid;
        display: flex;
        font-size: 14px;
        background-color: rgba(242, 242, 242, 0.5);

        &:last-of-type
        {
            border-bottom: 1px #D8D8D8 solid;
        }

        &:hover
        {
            cursor: pointer;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        }

        div.detalhes-restaurante
        {
            width: calc(100% - 85px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 12px;

            h4.descricao-restaurante, span
            {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            ul
            {
                margin-top: 4px;
                font-size: 12px;

                i.clock-entrega
                {
                    margin-right: 4px;
                    font-size: 14px;
                }

                li{
                    display: flex;
                }
            }

        }

        div.logo-restaurante
        {
            width:85px;
            height: 100%;
            border-right: 1px #D8D8D8 solid;
            background: #FFFFFF;
            background-image: url("../images/0002-logo.png");
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
        }
    }
}

//DESKTOP VERSION
@media screen and (min-width: 768px)
{
    section.lista-restaurantes
    {
        display: flex;
        flex-wrap: wrap;

        div.not-found
        {
            width: 100%;
            margin:0px;
        }

        div.restaurante
        {
            &:not(:nth-child(3n))
            {
                margin-right: 10px !important;
            }
            
            // ((WITH-DIV - SUM-MARGIN-RIGHT) / ELEMENTS-VIEW)
            max-width: calc((100% - 20px) / 3);
            height: auto;
            margin-bottom: 10px;
            display: flex;
            padding: 10px;
            border-radius: 4px;
            border: 1px #D8D8D8 solid;
            background-color: #FFFFFF;

            div.detalhes-restaurante
            {
                flex: 2;
                ul
                {
                    li{
                        padding-bottom: 4px;
                    }
                }
            }

            div.logo-restaurante
            {
                max-width: 85px;
                border-radius: 6px;
                height: 85px;
                border: 1px #D8D8D8 solid;
                flex: 1;
            }
        }
    }
}