<!DOCTYPE html>
<html 
    lang="pt-BR"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout}" 
    th:with="link=@{/cliente/home}, search='noshow'">
<head>
    <!--TOASTFY STYLE-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>
    <!--TOASTFY SCRIPT-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <meta http-equiv="Refresh" th:attr="content=${'5; url='} + @{/logout}" th:if="${invalideSession}"/>
</head>
<body onload="renderAnimationFoods();showToastPage('validationMsg')" th:classappend="${!editMode} ? 'bg-blue-primary' : ''">
    <div layout:fragment="content">
        <main class="container">
            <!--SIGN UP FORM-->
            <div class="form-content">
                <div class="title-login">
                    <h1 th:text="${editMode} ? 'Meus Dados' : 'Cadastro de Cliente'"></h1>
                    <p>Pensou em comida, pensou em BlueFood!</p>
                </div>

                <!--MSG SERVER RESPONSE-->
                <span 
                    class="msg-server" 
                    id="validationMsg"
                    th:if="${msg} != null" 
                    th:text="${msg}"
                    th:classappend="${#fields.hasErrors('${cliente.*}') ? 'msg-server-error' : ''}"></span>
                <!--END - SERVER RESPONSE-->

                <form 
                    method="POST"  
                    th:onsubmit="${editMode} ? 'return confirmChangesUser();clearMasks()' : 'clearMasks();disableButtonOnSubmit(\'btn-cadastrar\')'"
                    th:action="${!editMode} ? @{/public/cliente/save} : @{/cliente/save}" 
                    th:object="${cliente}">

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{endereco.id}"/>

                    <!--TOASTFY ONLY-->
                    <input type="hidden" id="validationError" th:if="${validationError != null}" th:value="${validationError}"/>

                    <label>Nome</label>
                    <input 
                        type="text" 
                        th:field="*{nome}"
                        placeholder="Nome Completo"  
                        th:classappend="${#fields.hasErrors('nome') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

                    <label>CPF</label>
                    <input 
                        type="text" 
                        inputmode="numeric"
                        placeholder="999.999.999-99" 
                        data-js="cpf"
                        th:field="*{cpf}"
                        th:classappend="${#fields.hasErrors('cpf') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>

                    <label>E-mail</label>
                    <input 
                        type="text" 
                        inputmode="email"
                        placeholder="usuario@email.com" 
                        th:field="*{email}"
                        th:classappend="${#fields.hasErrors('email') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                    <label>Telefone</label>
                    <input 
                        type="text" 
                        inputmode="numeric"
                        data-js="telefone"
                        placeholder="Insira seu número de telefone" 
                        th:field="*{telefone}"
                        th:classappend="${#fields.hasErrors('telefone') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>

                    <label>Logradouro</label>
                    <input 
                        type="text" 
                        placeholder="Rua do usuário" 
                        th:field="*{endereco.logradouro}"
                        th:classappend="${#fields.hasErrors('endereco.logradouro') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('endereco.logradouro')}" th:errors="*{endereco.logradouro}"></span>

                    <label>Bairro</label>
                    <input 
                        type="text" 
                        placeholder="Bairro" 
                        th:field="*{endereco.bairro}"
                        th:classappend="${#fields.hasErrors('endereco.bairro') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('endereco.bairro')}" th:errors="*{endereco.bairro}"></span>

                    <label>Cidade</label>
                    <input 
                        type="text" 
                        placeholder="Cidade"
                        th:field="*{endereco.cidade}"
                        th:classappend="${#fields.hasErrors('endereco.cidade') ? 'error-input' : ''}" />
                    <span class="error-input" th:if="${#fields.hasErrors('endereco.cidade')}" th:errors="*{endereco.cidade}"></span>

                    <label>CEP</label>
                    <input 
                        type="text" 
                        inputmode="numeric"
                        data-js="cep"
                        placeholder="Insira o cep da sua rua" 
                        th:field="*{endereco.cep}"
                        th:classappend="${#fields.hasErrors('endereco.cep') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('endereco.cep')}" th:errors="*{endereco.cep}"></span>

                    <label>Número</label>
                    <input 
                        type="text" 
                        inputmode="text"
                        placeholder="123"
                        th:field="*{endereco.numero}"
                        th:classappend="${#fields.hasErrors('endereco.numero') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('endereco.numero')}" th:errors="*{endereco.numero}"></span>

                    <label>Complemento</label>
                    <input 
                        type="text" 
                        placeholder="Casa ou Apartamento"
                        th:field="*{endereco.complemento}"
                        th:classappend="${#fields.hasErrors('endereco.complemento') ? 'error-input' : ''}"/>
                    <span class="error-input" th:if="${#fields.hasErrors('endereco.complemento')}" th:errors="*{endereco.complemento}"></span>

                    <label>UF</label>
                    <select th:field="*{endereco.uf}" th:classappend="${#fields.hasErrors('endereco.uf') ? 'error-input' : ''}">
                        <option selected hidden value="">Estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.sigla}"></option>
                    </select>
                    <span class="error-input" th:if="${#fields.hasErrors('endereco.uf')}" th:errors="*{endereco.uf}"></span>

                    <label>Senha</label>
                    <input 
                        id="senha-cliente"
                        th:disabled="${!cliente.alterarSenha && editMode}"
                        type="password" 
                        placeholder="Insira sua senha" 
                        th:field="*{senha}"
                        th:classappend="${#fields.hasErrors('senha') ? 'error-input' : ''}"/>
                    <span class="error-input" id="span-senha-cliente" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>

                    <input type="hidden" name="senha" value="*" id="senha-cliente-hidden" th:if=${editMode}/>
                    <label for="alterarSenha" th:if="${editMode}">
                        <input type="checkbox" th:checked="*{alterarSenha}" onchange="enableInputSenha(this, 'senha-cliente')" name="alterarSenha" id="alterarSenha"/>
                        <span>Alterar senha?</span>
                    </label>

                    <input type="submit" value="Cadastrar" id="btn-cadastrar"/>
                </form>

                <ul class="links" style="text-align: center;">
                    <li>
                        <a th:href="${#authentication.principal} == 'anonymousUser' ? @{/} : @{/cliente/home}">
                            <i class="material-icons btn-search">&#xe31b;</i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--END - SIGN UP FORM-->
        </main>
        <!--ANIMATED FOODS IMAGE-->
        <ul class="foods"></ul>
        <!--END - ANIMATED FOODS IMAGE-->
    </div> 
    <div layout:fragment="othersImports">
        <script th:src="@{/js/renderAnimationFoods.js}"></script> <!--FOODS ANIMATION-->
        <script th:src="@{/js/inputMasks.js}"></script> <!--INPUT MASKS-->
        <script th:src="@{/js/toast.js}"></script> <!--TOASTFY PLUGIN-->
    </div>
</body>
</html>